/*==========  Components  ==========*/
// @import "../components/_videoPlayer";

#job-detail {

  .job-detail-container {

    .job {

      .content-wrapper {
        
        .job-header {

          span {
            fontsize-14-strong()
          }

          h2 {
            fontsize-45()
            max-width 520px
          }

          button {
            fontsize-18-strong()
          }

          .canvas {
            bottom: -120px;
            left: -250px;
          }
        }
      }
    }
  }
}
