.contact {
  width 100vw
  min-height 100vh
  position relative
  background picton-blue
  z-index 5

  .images {
    display flex
    justify-content center
    padding 30px 0

    .hidden {
      border-radius 50%
      width 130px
      height 130px
      overflow hidden
      margin 0 10px
      position relative

      img {
        width 100%
        position relative
      }
    }
  }

  .full-size {
    width 100vw
    min-height 100vh
    display flex
    -webkit-align-items center
    -ms-flex-align center
    -webkit-box-align center
    align-items center
  }

  .content {
    position relative
    top -30px
    width 100%
  }

  h2 {
    position relative
    fontsize-50()
  }

  h3 {
    position relative
    fontsize-24()
    color white
    margin 30px auto
  }

}
