// Intro Block

.intro {
  display flex
  align-items center
  justify-content center
  position relative

  .full-size-block {
    min-height 65vh
  }

  .title-blob {
    position relative
    height 100vh
    display flex
    align-items center
    justify-content center
  }

  h1 {
    color white
    line-height 120%
    fontsize-70()

    span {
      fontsize-70()
      color zocdoc-yellow
    }
  }

  .intro-content {
    position relative
  }

  .mobile-blob {
    display none
    position absolute
    left 0
    top -90px
    z-index -1
    width 100%
  }

  .canvas {
    z-index 10
  }

  .arrow {
    position absolute
    bottom 80px
    height 25px
    width 20px
    margin 0 auto

    span {
      background gulf-blue
    }

  }
}

@media only screen and (max-device-width : 736px) {

  .intro {
    .mobile-blob {
      display block
    }
  }
}
