.patient {
  display flex
  align-items flex-end
  justify-content center
  background white-lila

  button {
    margin-top 70px
    opacity 0
  }

  h2 {
    position relative
    color gulf-blue
    line-height 120%
    fontsize-70()
    padding-bottom 32.5vh

    span {
      fontsize-70()
      color brink-pink
    }
  }

  .content-second {
    position absolute
    left 5%
    top 0
    bottom 0
    height 200px
    margin auto
    padding 0
  }

  .second {
    position relative
    top 0
    bottom 0
    height 210px
    margin auto
    opacity 0
    padding-bottom 0
  }

  .content {
    position relative
  }

  .icons {
    position relative
    padding-bottom 50px
  }

  .client, .doctor {
    position absolute
    bottom 0
    width 30vw
    max-width 500px
  }

  .client {
    right 100%
    margin-right 50px
  }

  .doctor {
    left 100%
    margin-left 50px
  }

  .first-img, .second-img, .third-img {
    position absolute
    width 20%
    left 0
    right 0
    margin auto
    bottom 72vh
    max-width 80px
  }

  .second-img {
    bottom 63vh
    left 12.5%
    right inherit
  }

  .third-img {
    bottom 63vh
    right 12.5%
    left inherit
  }
}
