// Intro Block

.intro {

  //display none
  &.hidden {
    visibility hidden
    opacity 0
  }

  .intro-content{
    position relative
    z-index 10
    top 15px
  }

  h2 {
    color gulf-blue
    fontsize-90()
    position relative
  }

  p {
    text-align center
    fontsize-24-strong()
    padding-top 30px
    color waikawa-gray
    position relative
  }

  .canvas {
    z-index 10
  }
}
