#blog-topic {

  background-color white-lila

  // Generic style for the topic

  .info {

    span {

      font-size 1.2rem
      line-height 1.5rem
      font-family sharp-medium
      color dark-grey
      margin-top 10px
      display inline-block
      &.category {
        fontsize-14()
        font-family sharp-sans-bold
        opacity 1
        transition 0.2s opacity Linear

        // &:hover{
        //   opacity 0.7
        // }
      }
    }
  }

  .explore-more {
    outline none
    display block
    margin: 0px auto 120px auto;
    padding 10px 20px
    background none
    border 1px solid gulf-blue
    fontsize-18-medium()
    cursor pointer
    transition 0.2s all linear

    &:hover {
      background-color gulf-blue
      color white
    }

    &.hidden {
      display none
    }
  }

  // .search-form {
  //   margin 0
  //   padding 0
  //   transform translateY(-100%) translateZ(0)
  //   position absolute
  //   width 100%
  //   top 0
  //   left 0
  //   height 350px
  //   background-color white
  //   z-index 100
  //
  //   .form-container {
  //
  //     display block
  //
  //     h2 {
  //       fontsize-18-strong()
  //       color light-grey
  //       display block
  //       width 100%
  //       padding-bottom 50px
  //     }
  //
  //     form {
  //       input {
  //         text-align center
  //         outline 0
  //         color gulf-blue
  //         fontsize-45()
  //         border none
  //         width 100%
  //       }
  //     }
  //   }
  //
  // }

@import "./../search/parts/_form";
@import "./parts/_header";
@import "./parts/_blog-posts";

}
