// Culture block
.culture {

  &.hidden {
    visibility hidden
    opacity 0
  }

  .canvas {
    z-index 30
  }

  .overlay-content-container {

    z-index 10 !important

    h2 {
      width 100%
      text-align center
      color white
      margin 0px auto
      max-width 730px
      fontsize-70()

      mark {
        color zocdoc-yellow
        background none
      }
    }

    p {
      display: block;
      text-align center
      fontsize-28()
      padding-top 15px
      color white
      margin 20px auto 0 auto
      max-width 550px
    }
  }

  .carousel-indicators {
    li {
      opacity 1
    }
  }

  .icon {
    width 40px
    display block
    margin 0 auto 20px
  }

  .carousel-items-container {
    position absolute
    z-index 2
    left 0
  }

  .culture-carousel {
    z-index 1
    left 0
    top 0
    position absolute
    width 100%
    margin 0
    height 100%
  }

  .carousel .carousel-item .image-container {
    opacity 0.5
  }

  .press {
    z-index 10
    opacity 0
    left 0
    right 0
    margin 0px auto
    position absolute

    p {
      fontsize-24()
      color white
      max-width 45%
      margin 0px auto
    }

    .author {
      fontsize-14()
      color white
      font-family sharp-bold
      margin-top 35px
      display block
    }

    .logo-list {

      display table
      //height 80px;
      margin 35px auto 0px auto

      li {
        display inline-block
        vertical-align middle
        margin: 0 20px
      }
    }
  }

}
