// Join us Block

.join {
  height auto
  position relative
  z-index 10

  .main-content {
    position relative
    height calc(100vh - 30px)
    min-height auto

    .content{
      z-index 15
      position relative
    }

    .cover {
      opacity 0
      position absolute
      width 85%
      max-width 860px
      left 0
      right 0
      top 0
      bottom 0
      margin auto
      z-index 0
    }

    .layer {
      opacity 0
      background rgba(0, 0, 0, .35)
      position absolute
      width 100%
      height 100%
      left 0
      right 0
      top 0
      z-index 1
    }
  }

  &.hidden {
    visibility hidden
    opacity 0
  }

  h2 {
    width 100%
    text-align center
    color white
    // fontsize-50()
    fontsize-90()
    position relative
  }

  p {
    text-align center
    fontsize-24-strong()
    padding-top 15px
    color white
    position relative
  }

  .footer-container {
    width 100%
    position relative
    padding-top 25px
  }

  .mobile-blob-overlay {
    display none
    position absolute
    background url("../assets/images/masks/join-us-mask-mobile.png")
    width 100%
    height 100%
    top 0
    left 0
    background-size cover
    z-index 10

    a {

      position absolute
      bottom 70px
      left 0
      right 0
      width 130px
      height 110px
      background url("../assets/images/masks/join-cta.png") no-repeat center center
      background-size contain
      text-decoration none
      margin 0px auto

      span {
        fontsize-35()
        color gulf-blue
        text-decoration none
        top 40px
        position relative
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  .join {
    .footer-container {
      padding-top 0
    }
    .main-content {
      .mobile-blob-overlay {
        display block
        background url("../assets/images/masks/join-us-mask-tablet-landscape.png")
        a {
          span {
            font-size: 2.5rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .join {
    .footer-container {
      padding-top 0
    }
    .main-content {
      .cover {
        top: 0% !important
        left: 0 !important
      }
      .mobile-blob-overlay {
        display block
        background url("../assets/images/masks/join-us-mask-tablet-portrait.png")
        a {
          span {
            font-size: 2.5rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-device-width : 736px) {

  .join {
    .main-content {
      .cover {
        width 200% !important
        left -50% !important
      }
      .mobile-blob-overlay {
        display block
        a {
          span {
            font-size: 2.5rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}
