.video-container {
  height 100%
  width 100%
  display block
  position relative
  overflow hidden

  .poster {
    display block
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    width auto
    height 100%
    z-index: 2

    img {
      display block
      height 101%
      width auto
    }
  }

  .overlay-content {
    position absolute
    width 100%
    text-align center
    left 50%
    top 50%
    transform: translate(-50%, -50%)
    color white
    z-index 3

    h3 {
      font-size 5rem
      max-width 400px
      display block
      margin 0 auto
      padding-bottom 7px
      font-family sharp-bold
      text-overflow ellipsis
      color heliotrope
    }

    p {
      padding 0
      margin 0px auto
      max-width 70%
      line-height 140%
      font-family sharp-bold
      font-size 1.8rem
    }

    span {
      color nobel
      font-size 1.8rem
      margin-top 5px
      display inline-block
    }

    .btn-play {
      background none
      border none
      outline none
      width 35px
      height 35px
      display block
      position absolute
      left 50%
      transform translateX(-50%)
      bottom -50px
      cursor pointer

      svg {
        transition 0.1s transform ease-out
      }

      svg > path {
        fill zocdoc-yellow
      }

      &:hover {

        svg {
          transform scale(1.1)
        }
      }

    }
  }

  .yt-player {
    top 0
    left 0
    min-width 100%
    min-height 100%
    width auto
    height auto
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
  }

}
