.carousel {

  .carousel-item {
    .text-container {
      bottom 125px
      left 0
      right 0
      margin auto
      width 90%
    }
  }

  .carousel-indicators-container {
    bottom 85px
  }
}
