.loyalty {

  .bg-image {
    position absolute
    right 50%
    height 80%
    bottom 0
  }

  .content {
    width 500px
    top 20%
    position absolute
    left 50%

    .heart {
      margin 30px auto 40px

      img {
        width 250px
      }

      span {
        top 35px
      }
    }
  }
}
