// Culture block
.culture {

	.overlay-content-container {


	    h2 {
	      // fontsize-70()
				font-size: 6rem;
		    line-height: 6.5rem;
	    }

	    p {
      		fontsize-28()
    	}
   }

   .press {
   		p {
   			max-width: 60%;
   		}
   }
}
