// Story Block
.story {
	h2 {
		font-size: 5.8rem;
    line-height: 6rem;
	}

	.mask-wrapper span {
		fontsize-20-strong()
	}

	p {
		fontsize-24-medium()
	}

	.story-video-overlay {
		.video-container {
      height 420px
      width 750px
			
    }
	}
}
