.blog-post-container {

  background-color white-lila
  min-height 100vh
  padding 0px 50px

  &[data-color-category='partnership']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        // color #39E4AD
        color #F96573
      }
    }
  }
  &[data-color-category='company']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        // color #44D8FB
          color #F96573
      }
    }
  }
  &[data-color-category='patients']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        // color #FCB5C9
        color #F96573
      }
    }
  }
  &[data-color-category='provider']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        color #F96573
      }
    }
  }
  &[data-color-category='tech']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        // color #C191FF
        color #F96573
      }
    }
  }
  &[data-color-category='default']{
    .content-wrapper .grid .post a:hover{
      .text-wrapper .title {
        // color #FCB5C9
          color #F96573
      }
    }
  }

  .content-wrapper {

    margin 0px auto
    max-width 1280px
    padding-top 110px

    .no-posts {
      fontsize-24-medium()
      color gulf-blue
      text-align center
      width 100%
    }

    .switch-view-container {

      margin: 0 0 60px 0;
      margin-left 20px

      button {
        outline none
        background none
        border none
        fontsize-14-strong()
        color gulf-blue
        margin-right 20px
        cursor pointer
        &:hover {
          color pink-rose
        }
      }
    }

    @import "./../../home/parts/_grid";

    .grid .post {
      padding-right 20px
      padding-left 20px
    }

  }

}
