.patient {

  h2 {
    // fontsize-70()
    padding-bottom: 60vh;
    span {
      // fontsize-70()
    }
  }

  .client, .doctor {
    // max-width: 350px;
  }
  
  .first-img {
  	bottom: 50vh;
  }
  
  .second-img {
  	bottom: 42vh;
  }
  	
  .third-img {
  	bottom: 42vh;
  }


}
