.series {
  
  .cta {
  
    p {
  
    }
  }

  .main-video .poster {
  
  
    h4 {
      // fontsize-28()
    }

    h5 {
      // fontsize-20-strong()
  
      span {
        // fontsize-20-strong()
      }
    }
  }

  .main-video {
    // width: 500px;
    // height: 369px;
    
    .video-container {
    
    }

  }

  .serie-video, .main-video {
    
    .poster {
    
    }

  }

  .main-video {
    
  }
}
