// Culture block
.culture {

	.overlay-content-container {


	    h2 {
	      fontsize-70()
	    }

	    p {
      	fontsize-28()
    	}
   }
   
   .press {
   		p {
   			// max-width: 70%;
   		}
   }
   
   .text-container {
     p {
      font-size: 1.5rem;
      line-height: 1.7rem;
      strong {
        font-size: 1.5rem;
        line-height: 1.7rem;
      }
    }
   }
}
