.calendar {
  display flex
  align-items inherit
  justify-content center
  height 100vh

  h3 {
    line-height 120%
    opacity 0
    fontsize-50()
    color gulf-blue
    opacity 0
    left 0
    position absolute
    width 100%
    bottom 50%

    span {
      fontsize-50()
      color white
    }
  }

  h3.white {
    color white
    opacity 1
  }

}
