// Series Block

.clients {
  background picton-blue
  width 100vw
  min-height 100vh
  margin 0

  button {
    position absolute
    opacity 0
    bottom -100px
    left 0
    width 220px
    right 0
    margin 0 auto
  }

  .intro-content {
    max-width 1000px
    width 80%
    position relative
  }

  h2 {
    fontsize-50()
    width 100%
    color white
    margin auto
    opacity 0
    position relative
  }

  h3 {
    fontsize-24()
    color white
  }

  .blocks {
    position relative
    padding-top 60px
  }

  .quote-block {
    opacity 0
    position relative

    .quote {
      color white
      fontsize-20()
      text-align left
      overflow hidden
      position relative
      padding-right 30px

      span {
        fontsize-20()
        position absolute
        left -10px
      }
    }

    .author {
      color white
      padding-top 15px
      text-align left
      fontsize-14-strong()
    }
    .work {
      padding-top 5px
      text-align left
      fontsize-14()
      color white
    }

    .separator {
      right 0
      left inherit
    }
  }

  .clients-logos-block {
    opacity 0
    position relative

    h3 {
      margin-left 10px
    }

    .separator {
      left -1px
      bottom 10px
    }

    .logos {
      padding-left 30px

      .logo {
        width 33%
        float left
        height 50px
        text-align center

        img {
          max-height 70%
          max-width 70%
        }
      }
    }
  }

  .separator {
    position absolute
    bottom 10px
    width 1px
    height 60%
    background white
    opacity .4
  }

  .block {
    padding-top 35px
    position relative
    display inline-block
    width 50%
    float left

    h3 {
      position relative
      fontsize-18-strong()
      text-align left
      padding-left 35px
      padding-bottom 25px

      img {
        position absolute
        top 0
        left 0
        width 25px
      }
    }
  }
}
