.percentage {
  display flex
  align-items center
  justify-content center
  position relative
  min-height auto
  height auto
  padding 100px 0
  overflow visible

  .content {
    position relative
  }

  .cash-0 {
    right -40px
    top 200px
    width 100px
  }

  .cash-1 {
    left -20px
    top 0
    width 120px
  }

  .cash-2 {
    left 80px
    top 200px
    width 70px
  }

  .cash-3 {
    left 0
    right -30px
    top 170px
    width 40px
    margin auto
  }

  .cash-4 {
    right -80px
    top -40px
    width 70px
  }

  .cash-5 {
    left -80px
    top 300px
    width 90px
  }

  .cash-6 {
    right 80px
    top 310px
    width 50px
  }

  .cash {
    position absolute
    z-index 10
  }

  h4 {
    position relative
    fontsize-400()
    color gulf-blue

    span {
      position absolute
      top 45px
      fontsize-70()
    }
  }

  h3 {
    color white
    fontsize-35()
  }

  .text {
    margin-top 20px
    fontsize-20-strong()
    color blumine
  }
}
