.smart {
  display block

  .block-column {
    width 50%
    display inline-block
  }

  .bg-image {
    position: absolute;
    left: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .content {
    width 500px
    top 20%
    position absolute
    right 50%

    .text {
      color santas-gray
      fontsize-20-strong()
    }
  }

  h3 {
    color brink-pink
    fontsize-400()
    padding-bottom 20px
    position relative
    letter-spacing: -1rem;

    .perc {
      color gulf-blue
      fontsize-55()
      right -25px
      top 50px
      position absolute
    }
  }

  h2 {
    color gulf-blue
    fontsize-50()
  }

  .text {
    margin-top 20px
    fontsize-20-strong()
    color blumine
  }
}
