.start {
  display flex
  align-items center
  justify-content center

  h1 {
    color gulf-blue
    line-height 120%
    fontsize-70()

    span {
      fontsize-70()
      color lavender-pink
    }
  }

  .canvas {
    z-index 10
  }

  .arrow {

    span {
      background brink-pink
    }

  }

  .scroll-cta {
    position absolute
    left 0
    right 0
    bottom 40px
    height 100px
    width 200px
    margin 0 auto
    z-index 10

    p {
      text-align center
      font-size 3rem
      font-family sharp-sans-bold
      color gulf-blue
      cursor pointer
    }
  }
}
