@font-face {
  font-family: 'sharp-sans-semibold';
  src: url('https://d1fa0925hal4f9.cloudfront.net/App_Combined/version__759677b23ab04e4ef3b9d621a785d245__/fonts/sharp-sans/SharpSans-No1-Semibold.woff') format('woff'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'sharp-sans-bold';
  src: url('https://d1fa0925hal4f9.cloudfront.net/App_Combined/version__29eee684aa6b3de12f5bb8a113458a0e__/fonts/sharp-sans/SharpSans-No1-Bold.woff') format('woff'); /* Legacy iOS */
  font-stretch: bold;
  font-style: bold;
  font-weight: 900;
}

@font-face {
  font-family: 'sharp-sans-medium';
  src: url('https://d3otyvtf5n4s7a.cloudfront.net/App_Combined/version__1b283d7a04bac78e502cac8ecdd0611c__/fonts/sharp-sans/SharpSans-No1-Medium.woff') format('woff'); /* Legacy iOS */
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'kievit-slab-pro-book';
  src: url('https://d1fa0925hal4f9.cloudfront.net/App_Combined/version__31ac43e538be958059a25e5f3072a185__/fonts/kievit-slab/KievitSlabPro-Book.woff') format('woff'); /* Legacy iOS */
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'sharp-sans-medium';
  src: url('https://d2merjuer5pzm6.cloudfront.net/App_Combined/version__1b283d7a04bac78e502cac8ecdd0611c__/fonts/sharp-sans/SharpSans-No1-Medium.woff') format('woff'); /* Legacy iOS */
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}

sharp-bold = 'sharp-sans-bold', Arial, sans-serif;
sharp-medium = 'sharp-sans-medium', Arial, sans-serif;
sharp-semi-bold = 'sharp-sans-semibold', Arial, sans-serif;
kievit-slab-book = 'kievit-slab-pro-book', Arial, sans-serif;
