/* Grid
 ========================================================================== */

min-columns = 0;
max-columns = 12;
gutters = 0px;

/* Typography
========================================================================== */
h1-typo = sharp-bold;
h2-typo = sharp-bold;
h3-typo = sharp-bold;

/* Font Sizes */

base-fontsize = 1.6rem;
h1-fontsize = 4.5rem;
h2-fontsize = 3.5rem;
h3-fontsize = 3.0rem;
h4-fontsize = 2.5rem;
h5-fontsize = 2.0rem;

/* Line heights */

base-lineheight = 1.6rem;
h1-lineheight = 4.5rem;
h2-lineheight = 3.5rem;
h3-lineheight = 3.0rem;
h4-lineheight = 2.5rem;
h5-lineheight = 2.0rem;

/* Colors */

santas-gray = #9f9fa0;
white-lila = #F1F1F9;
charlotte = #a8eafa;
blumine = #1a5687;
mauve = #d5b5fb;
chambray = #3c418a;
heliotrope = #c286fc;
picton-blue = #42d6f8;
gorse = #fff34d;
gulf-blue = #05215a;
charlotte = #b4ecf9;
navy-blue = #00234b;
zocdoc-yellow = #fff04b;
mine-shaft = #313131;
blue-whale = #052449;
malibu = #63DEF8;
brink-pink = #fa6876;
waterloo = #868691;
athens-gray = #f3f3f4;
fog = #e8d4fd;
nobel = #b8b4b2;
light-grey = #d5d5d9;
waikawa-gray = #8D7CBC;
//dark-grey = #868691;
dark-grey = #48484d;
old-rose = #c07784;
manatee = #949496;
lavender-pink = #fcb5c7;
pink-rose = #fe616e;
san-juan = #374d7b;
scorpion = #5f5d5d;
scorpion = #5f5d5d;

/* Font Sizes */

border-radius-default = 5px;
border-radius-block = 15px;
