#careers-list {

  .full-size-block {
    min-height 100vh
    position relative

    .cover {
      width 110%
    }
  }

  .canvas {
    pointer-events initial!important
  }

@import "parts/_list-header";
@import "parts/_department-list";

}
