#job-detail {

  .job-detail-container {

    .job {

      min-height 100vh
      overflow: hidden;

      .content-wrapper {

        text-align left
        position relative
        padding-bottom 0px

        .job-header {

          min-height: 350px;

          a {
            fontsize-14-strong()
          }

          span {
            fontsize-14-strong()
            margin 20px 0px 10px 0px
          }

          h2 {
            //fontsize-45()
            font-size 2.5rem
            line-height 3rem
            left 10%
            top 30px
            max-width 85%
          }

          button {
            fontsize-18-strong()
            margin-bottom 40px
            background none
            border none
            display none

            svg {
              width 40px
            }
          }

          .canvas {
            z-index -1
            position absolute
            top 0
            bottom inherit
            width 120%
            left -10%
            height 100%

          }

        }

        .content-text {

          position relative
          margin-top 30px

          .culture {

            padding-left 0px
            margin-bottom: 0px;
            position relative
            width 100%
            top 0

            h3 {
              fontsize-18-strong()
              padding-bottom 30px
              color gulf-blue
            }

            .video-container {
              height 170px

            }

            .canvas {
              height 170px
            }

            .quote {
              fontsize-18-strong()
            }

            .employee-name {
              fontsize-14()
              strong {
                fontsize-14-strong()
              }
            }

          }

          p {

            width 100%

            strong {
              fontsize-18-strong()
              padding 60px 0px 30px 0px
            }

            fontsize-18()
          }

          ul {

            li {
              flex-basis: 100%;
              width: 100%;
              fontsize-18()

            }
          }

        }

        #grnhse_app {

          margin-top 60px

          iframe {
            display block
            margin 0px auto

          }

        }

      }
    }

  }
}
