.comments {
  max-width 70%
  margin 0px auto
  padding 50px 0px
  overflow hidden

  h3 {
    opacity 0
    color gulf-blue
    fontsize-24()
    margin-bottom 20px
    max-width 70%
  }

  .commentlist {
    opacity 0

    .pingback, .trackback {
      display: none
    }
    
    .comment {
      margin 60px auto

      .comment-author {
        color gulf-blue
        fontsize-18()
        img {
          margin-right 10px
        }
      }

      .comment-meta a {
        color gulf-blue
        fontsize-14()
        text-decoration none
        margin 10px 0
        display block
      }

      p {
        color dark-grey
        fontsize-18()
        margin 30px 0
      }

      .reply a {
        outline 0
        border-radius 0
        border 0
        background-image none
        text-shadow none
        fontsize-14-strong()
        width auto
        color gulf-blue
        background-color zocdoc-yellow
        cursor pointer
        padding: 5px 10px;
        margin 10px 0
        transition 0.2s all ease-out
        text-decoration none

        &:hover {
          background-color gulf-blue
          color white
        }
      }
    }
  }

  .comment-respond {
    //
    // h3 {
    //   color gulf-blue
    //   fontsize-24()
    //   margin-bottom: 20px;
    // }

    form {
      .logged-in-as {
        a {
          text-decoration none
          color gulf-blue
        }
      }
      .comment-notes {
        color gulf-blue
        fontsize-14()
        padding-bottom 20px
        span {
          color gulf-blue
          fontsize-14()
          &.required {
            color pink-rose
          }
        }
      }
      label {
        fontsize-18-strong()
        width auto
        text-align left
        position initial
        color light-grey
        display block
        width 100%
        padding 15px 0
        .required {
          color pink-rose
        }
      }

      input, textarea {
        outline 0
        border none
        //border-radius 5px
        background-color white-lila
        font-size: 20px
        padding-left 10px
        padding-right 10px
        width 50%
        padding-top 15px
        padding-bottom 18px
        color gulf-blue
        margin-bottom 20px
      }
      textarea {
        width 100%
      }
      .form-submit {

        .submit {
          outline 0
          border-radius 0
          border 0
          background-image none
          text-shadow none
          fontsize-18-strong()
          width auto
          color gulf-blue
          background-color zocdoc-yellow
          cursor pointer
          padding: 15px 30px;
          margin 50px 0
          transition 0.2s all ease-out

          &:hover {
            background-color gulf-blue
            color white
          }
        } //.submit
      } //.form-submit
    } // form
  } //.comment-respond
} //.comments
