.blog-post-container {

  padding 0px 25px

  .content-wrapper {

    padding-top 60px

    .grid {

      margin: 0 0 60px 0;

      .post {

        padding-right 0px
        margin-bottom 25px

        a {

          .text-wrapper {

            height 225px

            .title {
              fontsize-24-strong()
            }
          }
        }
      }

    }

    .most-popular {

      margin-top 60px
      margin-bottom 60px

      padding 10px
      background none

      .article-list, .wpp-list {

        .article {
          a {

            .number {
              fontsize-14-strong()
            }

            .title, .description, .info {
              padding-left 50px
              max-width 100%
            }

          }
        }
      }
    }
  }

}
