// /* Typography
//  ========================================================================== */

//  /* Font size mixins  */
// fontsize-400()
//   font-size 10rem
//   line-height 4.2rem
//   font-family sharp-sans-bold

// fontsize-110()
//   font-size 7rem
//   line-height 6.2rem
//   font-family sharp-sans-bold

fontsize-90()
 font-size 4rem
 line-height 3.5rem
 font-family sharp-sans-bold

// /* Font size mixins  */
fontsize-70()
  font-size 2.0rem
  line-height 2rem
  font-family sharp-sans-bold

// fontsize-50()
//   font-size 3.5rem
//   line-height 4rem
//   font-family sharp-sans-bold

// fontsize-45()
//   font-size 3.5rem
//   line-height 4rem
//   font-family sharp-sans-bold

// fontsize-35()
//   font-size 2.2rem
//   line-height 2.5rem
//   font-family sharp-sans-bold

fontsize-28()
  font-size 1.5rem
  line-height 1.7rem
  font-family sharp-sans-bold

// fontsize-24()
//   font-size 1.8rem
//   line-height 2.5rem
//   font-family kievit-slab-book

fontsize-24-medium()
  font-size 1.2rem
  line-height 1.9rem
  font-family sharp-medium

// fontsize-24-strong()
//   font-size 1.8rem
//   line-height 2.5rem
//   font-family sharp-sans-bold

// fontsize-18()
//   font-size 1.8rem
//   line-height 2.3rem
//   font-family kievit-slab-book

// fontsize-18-strong()
//   font-size 1.6rem
//   line-height 2rem
//   font-family sharp-sans-bold

// fontsize-15-strong()
//   font-size 1.5rem
//   line-height 1.9rem
//   font-family sharp-sans-bold

// fontsize-14()
//   font-size 1.2rem
//   line-height 1.2rem
//   font-family kievit-slab-book

// fontsize-14-medium()
//   font-size 1.2rem
//   line-height 1.6rem
//   font-family sharp-medium

// fontsize-14-strong()
//   font-size 1.2rem
//   line-height 1.6rem
//   font-family sharp-sans-bold

// fontsize-8-strong()
//   font-size .8rem
//   line-height 1.2rem
//   font-family sharp-sans-bold

// fontsize-8()
//   font-size .8rem
//   line-height 1.2rem
//   font-family kievit-slab-book
