/*==========  Components  ==========*/
@import "../components/_videoPlayer";

#job-detail {

  .job-detail-container {

    .job {

      min-height 100vh
      overflow: hidden;

      .content-wrapper {

        text-align left
        position relative
        padding-bottom 130px

        .job-header {

          padding-top 70px
          color white
          position relative
          color white

          span {
            fontsize-14-strong()
            color white
            margin 20px 0px 10px 0px
            display block
            opacity 0.7
          }

          h2 {
            z-index 1
            fontsize-45()
            max-width 580px
            margin-bottom 10px
          }

          button {
            z-index 1
            fontsize-18-strong()
            color white
            text-decoration underline
            display block
            background none
            outline none
            border none
            cursor pointer
          }

          .canvas {
            z-index: -1;
            position: absolute;
            bottom: -150px;
            left: -220px;
            width: 1000px;
            height: 575px;
          }

          .big-blob {
            z-index: -1;
            position absolute
            bottom -100px
            left -100px
            width 745px
            height auto
          }

        }

        .content-text {

          position relative
          margin-top 70px

          .culture {

            padding-left 30px
            position absolute
            right 0
            top 80px
            width 50%
            //padding-left 40px

            h3 {
              fontsize-18-strong()
              padding-bottom 30px
              color gulf-blue
            }

            .video-container {
              display: block;
              margin 0px auto 20px auto
              height 220px
              width 100%
              overflow hidden
              cursor pointer

              .mask {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 20;
                pointer-events: none;

                img {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0px;
                  left: 0px;

                  transition: transform 250ms ease-in;
                }

                &.hide {
                  img {
                    transition: transform 250ms ease-in;
                    transform: scale3d(1.75, 1.75, 0);
                  }
                }
              }

              .overlay-content {
                z-index 3
                width 100%
                height 100%

                .btn-play {
                  bottom 0
                  border none
                  background none
                  display none
                  z-index 15

                  svg {
                    width 25px
                  }
                }
                .btn-overlay-play {
                  z-index 15
                  width 30px
                  height 30px
                  margin auto
                  bottom 0
                  top 0

                  svg > path {
                    stroke none
                  }
                }
              }

            }

            .canvas {
              z-index 4
              position absolute
              left 0
              top 0
              right 0
              bottom 0
              height 220px
              width 100%
            }
            
            .culture-image-wrapper {
              margin 0px auto 20px auto
              display block
              width: 75%;
              height auto
              position: relative;
              overflow: hidden;
              
              .culture-image, .mask {
                display: inline-block;
                width: 100%;
                height: auto;    
              }
              
              .mask {
                height: 100%;
                z-index: 100;
                position: absolute;
                top: 0px;
                left: 0px;
              }
              
            }

            .quote {
              fontsize-18-strong()
              color gulf-blue
              text-align center
              width 80%
              margin 0px auto
            }

            .employee-name {
              margin-top 20px
              text-align center
              fontsize-14()
              display block
              color: dark-grey
              strong {
                fontsize-14-strong()
              }
            }

          }

          p {
            width 46%
            fontsize-18()
            color dark-grey

            strong {
              fontsize-18-strong()
              padding 100px 0px 30px 0px
              color gulf-blue
              display inline-block
              width 100%
            }

          }

          ul {

            list-style-type: disc
            list-style-position: inside;

            box-sizing: border-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -webkit-flex: 0 1 auto;
            -ms-flex: 1 0 auto;
            -webkit-box-flex: 0;
            flex: 0 1 auto;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -1rem;
            margin-left: -1rem;

            // Align Items
            -webkit-align-items: flex-baseline;
            -ms-flex-align: baseline;
            -webkit-box-align: baseline;
            align-items: flex-baseline;

            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            -webkit-box-pack: justify;
            justify-content: space-between;

            li {
              list-style-type none
              flex-basis 46%
              width 46%
              padding 0px 10px
              box-sizing border-box
              -webkit-flex 0 0 auto
              -ms-flex 0 0 auto
              -webkit-box-flex 0
              flex 0 0 auto

              fontsize-18()
              color dark-grey
              margin-bottom 20px

            }
          }

        }

        #grnhse_app {

          margin-top 100px

          iframe {
            display block
            margin 0px auto

            #submit_app {
              border-radius 0 !important
            }
          }
        }
      }
    }

  }
}
