/* Sections */

.section {
    position:relative;
    width:100%;
    min-width:320px;
}

.section_wrapper {
    position:relative;
    width:100%;
    max-width:1360px;
    padding:100px 40px;
    margin:0 auto;
}

.section_grid {padding:60px 0;}


/* Padding */

.section.padding_top {padding-top:150px;}


/* Fullscreen */

.section.fullscreen {
    height:100vh;
    min-height:600px;
}

.section.fullscreen  .section_wrapper {
    position:absolute;
    left:50%; top:50%;
    width:100%;
    max-width:100%;
    -webkit-transform:translate3d(-50%,-50%,0);
    	    transform:translate3d(-50%,-50%,0);
}




/* Responsive */


@media only screen and (max-width : 1279px) {
    
    
    /* Section */
    
    .section_wrapper {padding:80px 40px;}
    
    .section_grid {padding:40px 0 100px;}
    
    
    /* Padding */
    
    .section.padding_top {padding-top:100px;}


}


@media only screen and (max-width : 1023px) {
    
    
    /* Section */
    
    .section_wrapper {padding:80px 30px;}
    
    .section_grid {padding:40px 0 100px;}
    
    
    /* Padding */
    
    .section.padding_top {padding-top:60px;}
    
    
}


@media only screen and (max-width : 747px) {
    
    
    /* Section */
    
    .section_wrapper {padding:40px 20px;}
    
    .section_grid {padding:0;}
    
    
}