@charset "UTF-8";


/* Slider */

.slides {
    position:relative;
    width:100%;
    overflow:hidden;
}

.slider {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-content:stretch;
    align-items:flex-start;
    -webkit-transition:all 0.3s ease-in-out;
    	    transition:all 0.3s ease-in-out;
}

.slide {
    position:relative;
    flex:1 0 100%;
    align-self:stretch;
    overflow:hidden;
}


/* Buttons */

.slide_buttons {
    z-index:9;
    position:absolute;
    top:0; left:50%;
    width:100%;
    height:100%;
    max-width:1360px;
    padding:0 40px;
    pointer-events:none;
    -webkit-transform:translate3d(-50%,0,0);
    	    transform:translate3d(-50%,0,0);
}

.slide_button {
    z-index:100;
    position:absolute;
    top:50%;
    background:rgb(255,90,118) center center no-repeat;
    width:40px;
    height:40px;
    border-radius:50%;
    margin-top:-20px;
    cursor:pointer;
    pointer-events:all;
    opacity:1;
    visibility:visible;
    -webkit-transition:all 0.2s ease-in-out;
    	    transition:all 0.2s ease-in-out;
}

.no-touch .slide_button:hover {
    -webkit-filter:brightness(115%);
            filter:brightness(115%);
}

.slide_button.left {
    left:-40px;
}

.slide_button.right {
    right:-40px;
}

.slide_button.hidden {
    opacity:0;
    visibility:hidden;
}


/* Dots */

.slide_dots {
    position:absolute;
    bottom:40px; left:50%;
    background-color:rgb(255,255,255);
    height:32px;
    padding:10px 12px;
    border-radius:16px;
    pointer-events:all;
    -webkit-transform:translate3d(-50%,0,0);
    	    transform:translate3d(-50%,0,0);
}

.slide_dot {
    float:left;
    background-color:rgba(90,106,255,0);
    width:12px;
    height:12px;
    border:2px solid rgba(90,106,255,1);
    border-radius:50%;
    margin-right:18px;
    -webkit-transition:all 0.2s ease-in-out;
    	    transition:all 0.2s ease-in-out;
    cursor:pointer;
}
.slide_dot:last-of-type {margin-right:0;}

.slide_dot.active {background-color:rgba(90,106,255,1);}


/* Video */

#video_slides .slide_button {background-color:rgb(255,255,255);}

#video_slides .slide_dots {background-color:transparent;}

#video_slides .slide_dot {
    background-color:rgba(255,255,255,0);
    border-color:rgb(255,255,255);
}
#video_slides .slide_dot.active {background-color:rgba(255,255,255,1);}

#video_slides .slide.video {
    height:calc(56vw);
    background-size:cover;
}


/* Video placeholder */

#video_placeholder_logo {
    margin:0 auto 1em auto;
    width:220px;
    height:220px;
    margin-top:40px;
    background-repeat:no-repeat;
    background-size:100% auto !important;
    background-position:center center;
}

#video_placeholder_copy {
    text-align:center;
    margin-bottom:40px;
}


/* Responsive */


@media only screen and (max-width : 1459px) {
    
    
    /* Buttons */
    
    .slide_button {
        opacity:0;
        visibility:hidden;
    }
    
    
}


@media only screen and (max-width : 747px) {
    
    
    /* Slider */

    .slide {padding:20px 0;}
    
    
    /* Dots */
    
    .slide_dots {bottom:15px;}

    
}