.video-container {
  
  .poster {
  
    img {
  
    }
  }

  .overlay-content {
  
    h3 {
  
    }

    p {
  
    }

    span {
  
    }

    .btn-play {
  
      &:hover {

        svg {
  
        }
      }

    }
  }

  .yt-player {
    
  }

}
