.clients {
  height auto
  position relative

  h2 {
    padding-top 110px
    position relative
    top 20px
    fontsize-28()
    width 85%
  }

  h3 {
    fontsize-24()
    color zocdoc-yellow
  }

  .intro-content {
    width 85%
  }

  .blocks {
    padding-top 10px
  }

  .quote-block {

    .quote {
      fontsize-18-strong()

      span {
        fontsize-18-strong()
      }

      .separator {
        display none
      }
    }

    .author {
      padding-top 10px
      fontsize-18-strong()

      span {
        fontsize-14-strong()
      }
    }

    .work {
      fontsize-14()
    }

  }

  .clients-logos-block {
    h3 {
      margin-left 10px
    }

    .separator {
      left -1px
      bottom 10px
    }

    .logos {
      padding-left 0

      .logo {
        width 33%
        float left
        height 50px
        text-align center

        img {
          max-height 70%
          max-width 70%
        }
      }
    }
  }

  .separator {
    left -1px
    bottom 10px
    width 100%
    height 1px
    top 22.5px
  }

  .block {
    padding 55px 0
    width 100%

    h3 {
      fontsize-18-strong()
      text-align left
      padding-left 35px
      padding-bottom 10px

      img {
        width 15px
      }
    }
  }

 button {
    position relative
    bottom 20px
    width 200px
  }
}
