// Series Block

.series {
  background white-lila
  width 100%
  min-height 100vh

  .cta {
    position absolute
    width 340px
    z-index 20
    left 0
    right 0
    bottom 40px
    margin 0 auto

    p {
      cursor pointer
      width 90%
      float left
      font-size 3rem
      font-family sharp-sans-bold
      color gulf-blue
    }

    .arrow {
      position relative
      display inline-block
      top 2px

      span {
        background heliotrope
      }
    }
  }

  .series-videos-wrapper {
    position relative
    z-index 3

    .serie-video {
      height 100vh
      position relative

      .canvas {
        z-index 2
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        height 100vh
        width 100%
      }

      .video-container {
        z-index 1
      }

    }
  }
}
