.market {
  display block
  align-items inherit
  justify-content inherit
  background white-lila

  button {
    margin-top 30px
    opacity 0
  }

  h2 {
    position relative
    color gulf-blue
    line-height 120%
    fontsize-18-strong()
    text-align center
  }

  p {
    text-align center
    padding-top 30px
    color scorpion
    line-height 25px
    fontsize-14-medium()

    strong {
      fontsize-14-strong()
    }
  }

  .content {
    position absolute
    width 85%
    height 120px
    left 0
    right 0
    top 0
    bottom 0
    margin auto

    &.second-content {

      p, h2 {
        opacity 0
      }

      p {
        width 85%
        margin auto

        br {
          display none
        }
      }

      button {
        &::after {
          top 5px
        }
      }

    }

  }

  img {
    position absolute
  }

  .top-left {
    top 1.5%
    transform: rotate(-30deg)
    width auto
    height 30%
    left 15%
  }

  .top-right {
    top 3.5%
    width auto
    height 20%
    transform: rotate(-30deg)
    right 27%
    max-width 660px
  }

  .bottom-left {
    bottom -8%
    transform: rotate(-30deg)
    width auto
    height 20%
    max-width 660px
    left 24%
    z-index 1
  }

  .bottom-right {
    bottom -6%
    transform: rotate(-30deg)
    width auto
    height 30%
    right 19%
    z-index 1
  }

  .bottom-left-second {
    bottom 3%
    width auto
    height 30%
    left 22%
    z-index 1
    right inherit
    transform: rotate(-30deg)
  }

  .bottom-right-second {
    bottom 3%
    width auto
    height 20%
    max-width 660px
    left inherit
    right 20%
    transform: rotate(-30deg)
  }

  .client {
    right 100%
    margin-right 50px
  }

  .doctor {
    left 100%
    margin-left 50px
  }
}
