.percentage {

  .cash-0 {
    top -90px
    width 50px
  }

  .cash-1 {
    left -20px
    top 0
    width 80px
  }

  .cash-2 {
    top -120px
  }

  .cash-3 {
    top 70px
  }

  .cash-4 {
    top -40px
  }

  .cash-5 {
    left -80px
    top 150px
    width 90px
  }

  .cash-6 {
    right 80px
    top 310px
    width 50px
  }

  .cash {
    position absolute
    z-index -1
  }

  h4 {
    height 120px
    fontsize-400()

    span {
      top -20px
      fontsize-70()
    }
  }

  h3 {
    color white
    fontsize-35()
  }

  .text {
    margin-top 20px
    fontsize-20-strong()
    color blumine
  }
}
