.search {
  display flex
  align-items center
  justify-content center
  position relative
  min-height auto
  height auto

  h2 {
    color gulf-blue
    line-height 120%
    fontsize-70()

    span {
      fontsize-70()
      color zocdoc-yellow
    }
  }

  .search-module {
    border-radius 40px
    border 3px solid charlotte
    width 330px
    height 60px
    position relative
    margin 80px auto

    img {
      position absolute
      width 20px
      height auto
      top 0
      bottom 0
      left 15px
      margin auto
    }

    p {
      font-size 100%
      color white
      position relative
      text-align left
      padding 10px 0px 8px 45px

      span {
        fontsize-28()
        letter-spaccing -2px
      }
      .type {
          opacity 0
      }

      .space {
        letter-spacing 10px
      }

      .border {
        position absolute
        width 2px
        height 24px
        left 43px
        bottom 0
        margin auto
        top 0
        background white
      }
    }
  }

  h3 {
    color white
    line-height 120%
    fontsize-35()
  }

  .text {
    margin-top 20px
    fontsize-20-strong()
    color blumine
  }
}
