.stars {

  .stars-icon {
    position absolute
    width 25px
    top 80px
    left 0
    right 0
    margin: auto
    z-index 1
  }

  .line {
    width 7px
    background #fff
    height 30px
    position absolute
    top 0
    left 0
    right 0
    margin: auto

    .bg {
      left -25%
      width 150%
      background mauve
      height 150%
      position absolute
    }
  }

  .line-0 {
    top 20px
    left -220px
  }

  .line-1 {
    top -30px
    left -210px
  }

  .line-2 {
    top -50px
    left -120px
  }

  .line-3 {
    top -70px
    right -160px
  }

  .line-4 {
    top -40px
    right -240px
  }

  .line-5 {
    top -10px
    right -260px

  }

  .scroll-content {
    align-items center
    justify-content center
    position relative
    height auto
    width 100%
  }

  h4 {
    position relative
    z-index 5
    width: 100%;
    fontsize-110()

    span {
      fontsize-70()
    }
  }

  h3 {
    fontsize-35()
    margin 0 0 10px
  }

  .text {
    width 65%
    margin 0 auto
    margin-top 20px
    fontsize-20-strong()

    br {
      display none
    }
  }

  .reviews.row.center {
    h4 {
      fontsize-110()
      width 250px
      margin auto

      span {
        fontsize-110()
        position relative
        z-index 5
      }

      img {
        width 75px
        bottom 16px
        left initial
        right 20px
      }
    }

    h3 {
      fontsize-35()
    }

    .text {
      width 65%
      margin 0 auto
      fontsize-20-strong()
    }

  }

}
