.full-bleed-header {

  height 400px
  background-size cover
  background-position 0 0

  .full-bleed-container {

    //height: 100vh;

    .content-container {

      h1 {
        fontsize-90()
        max-width 90%
      }

      p {
        max-width 80%
        fontsize-18-medium()
      }
    }

  }

}
