/* Typography
 ========================================================================== */

/* Font size mixins  */
fontsize-400()
  font-size 40rem
  line-height 40rem
  font-family sharp-sans-bold

fontsize-130()
  font-size 13rem
  line-height 13rem
  font-family sharp-sans-bold

fontsize-90()
  font-size 9rem
  line-height 9rem
  font-family sharp-sans-bold

fontsize-70()
  font-size 7rem
  line-height 7rem
  font-family sharp-sans-bold

fontsize-55()
  font-size 5.5rem
  line-height 6rem
  font-family sharp-sans-bold

fontsize-50()
  font-size 5rem
  line-height 5.5rem
  font-family sharp-sans-bold

fontsize-45()
  font-size 4.5rem
  line-height 5rem
  font-family sharp-sans-bold

fontsize-35()
  font-size 3.5rem
  line-height 4rem
  font-family sharp-sans-bold

fontsize-28()
  font-size 2.8rem
  line-height 3.2rem
  font-family sharp-sans-bold

fontsize-26()
  font-size 2.6rem
  line-height 3rem
  font-family sharp-sans-bold

fontsize-24()
  font-size 2.4rem
  line-height 3.2rem
  font-family kievit-slab-book

fontsize-24-strong()
  font-size 2.4rem
  line-height 3.2rem
  font-family sharp-sans-bold

fontsize-24-medium()
  font-size 2.4rem
  line-height 3.2rem
  font-family sharp-medium

fontsize-24-strong()
  font-size 2.4rem
  line-height 3.2rem
  font-family sharp-sans-bold

fontsize-20-strong()
  font-size 2rem
  line-height 2.4rem
  font-family sharp-sans-bold

fontsize-20()
  font-size 2rem
  line-height 2.4rem
  font-family kievit-slab-book

fontsize-20-medium()
  font-size 2rem
  line-height 2.4rem
  font-family sharp-medium

fontsize-18()
  font-size 1.8rem
  line-height 2.8rem
  font-family kievit-slab-book

fontsize-18-medium()
  font-size 1.8rem
  line-height 2.4rem
  font-family sharp-medium

fontsize-18-strong()
  font-size 1.8rem
  line-height 2.4rem
  font-family sharp-sans-bold

fontsize-15-strong()
  font-size 1.5rem
  line-height 2.1rem
  font-family sharp-sans-bold
  
fontsize-15()
  font-size 1.5rem
  line-height 2.1rem
  font-family kievit-slab-book

fontsize-14()
  font-size 1.4rem
  line-height 1.8rem
  font-family kievit-slab-book

fontsize-14-medium()
  font-size 1.4rem
  line-height 1.8rem
  font-family sharp-medium

fontsize-14-strong()
  font-size 1.4rem
  line-height 1.8rem
  font-family sharp-sans-bold

fontsize-13-strong()
  font-size 1.3rem
  line-height 1.8rem
  font-family sharp-sans-bold
