.article-body-container {

    padding 0px 25px

    .content-wrapper {

      //top: -70px;
      &.has-thumbnail {
        top: -100px;
      }

      .text-container {
        padding-top 40px

        h1, h2, h3 {
          a {
            fontsize-24-strong()
          }
        }

        h2 {
          fontsize-24-strong()
          max-width 100%
          padding-bottom 30px
        }

        p {
          fontsize-18-medium()
          padding-top 20px
          max-width 100%
        }

        a {
          fontsize-18-medium()
        }

        strong {
          fontsize-18-strong()
        }

        blockquote {
          p {
            fontsize-28()
          }
        }
      }
    }
}
