.wrapper {
  position relative
}

.deparment-side-nav {

  position absolute
  left 5%
  top 25vh
  z-index: 4
  text-align left

  h3 {
    fontsize-28()
    color dark-grey
    max-width: 200px;
  }

  .dropdown-btn {
    fontsize-18-strong()
    background none
    outline none
    border none
    color dark-grey
    padding 0
    cursor pointer

    &:after {
      content "\203A"
      display: inline-block;
      margin-left: 10px;
      transform rotate(90deg)
      transition 0.3s transform ease-out
      //transform-origin center center
      font-size: 3rem;
      position absolute
    }
  }

  &.active {
    .dropdown-btn {
      &:after {
        transform rotate(-90deg)
      }
    }
  }

  .filter-wrapper {

    overflow hidden
    height 0
    background-color white-lila
    border-radius 8px
    position relative
    left -20px
    margin-top 20px
    width 120%

    ul {
      margin-top 20px
      li {
          margin 10px 0
          max-width 200px
          padding-left 20px
        a {
          fontsize-18-strong()
          color dark-grey
          text-decoration none
          transition: 0.2s color ease-out
          cursor pointer

          &:hover, &.selected, &.current {
            color gulf-blue
          }
        }
      }
    }

  }

  .department-list {

    margin-top 20px

    li {

      margin 10px 0
      max-width 200px

      button {
        fontsize-18-strong()
        outline none
        border none
        background none
        color light-grey
        text-decoration none
        transition: 0.2s color ease-out
        cursor pointer
        text-align left

        &:hover, &.selected, &.current {
          color gulf-blue
        }
      }
    }
  }
}

.department-list-container {

  .sticky-header {

    z-index 3
    overflow hidden
    position absolute
    height 260px
    left 0
    right 0
    padding-left: 6%;
    pointer-events none

    .blob-wrapper {

      position relative
      width 50%
      margin 0px auto

      color white
      height 100%

      h2 {
        z-index 1
        fontsize-45()
        max-width 500px
        position absolute
        top 20px
        opacity 0
        transform translate3d(0, 10px, 0)
        transition: 0.2s all ease-out

        span {
          z-index 1
          fontsize-14-strong()
          padding-top: 10px;
          display: block;
        }

        &.current {
          transform translate3d(0, 0px, 0)
          opacity 1
        }
      }

    }

    .canvas {
      z-index: -1;
      position absolute
      left -140px
      width 800px
      top: -30px;
      height 100%
    }

    .big-blob {
      z-index: -1;
      position absolute
      left -100px
      width 745px
      top -300px
      height auto
    }

    .small-blob {
      z-index: -1;
      position absolute
      top 75px
      left 700px
      width 75px
      height auto
    }
  }

  .team {

    margin 0

    min-height 100vh

    &:first-of-type {
      .content-wrapper {
        padding-top: 25px;
      }
    }

    .content-wrapper {

      padding-top: 100px;
      text-align left

      .team-header {

        padding-top 15px
        position relative
        color gulf-blue
        transition: 0.1s opacity ease-out
        opacity 1

        &.current {
          opacity 0
        }

        h2 {
          z-index 1
          fontsize-45()
          max-width 500px
        }
        span {
          z-index 1
          fontsize-14-strong()
          padding-top: 10px;
          display: block;
        }

      }

      .about-text {

        // padding-top 200px
        padding-top 120px

        h3 {
          fontsize-18-strong()
          padding-bottom 30px
          color gulf-blue
        }

        p {
          fontsize-18()
          color dark-grey
        }
      }

      .quote {

        // padding-top 205px
        padding-top: 175px;
        text-align: right;

        // Special adjustment to target alignment for this block
        align-content: flex-start;
        justify-content: flex-end;

        p {
          fontsize-18-strong()
          max-width: 230px;
        }

        .employee-name {
          margin-top: 20px;
          fontsize-14-strong()
          display block
          color: dark-grey
          width: 100%;
        }

        .role {
          fontsize-14()
          display block
          color: dark-grey
          width: 100%;
        }

        img {
          width auto
          height 60px
          margin-top 10px
        }

      }

      .job-openings-container {

        // margin 130px 0;
        margin 50px 0 50px;

        ul {
          border-top 1px solid light-grey

          li {
            height 80px
            width 100%
            border-bottom 1px solid light-grey
            margin 0;
            fontsize-18-strong()
            color gulf-blue

            cursor: pointer;
            position: relative;

            a {
              fontsize-18-strong()
              text-decoration: none;
              color gulf-blue
              display block
            }
            span {
              fontsize-14-strong()
              color dark-grey
              margin-left 15px
            }

            .learn-more {
              $tweenTime = 150ms;

              color: gulf-blue;
              position: absolute;
              right: 0px;
              top: 17px;
              transition: all $tweenTime ease-out;
              // display: none;
              display: inline-block;
              opacity: 0;

              transform: translate3d(2.5px, 0px, 0px);

              .arrow-svg {
                transition: all $tweenTime ease-out;
                transform: rotate(-90deg) scale(0.75,0.75) translate3d(-11px, -5px, 0px);
                .cls-1 {
                  fill: gulf-blue;
                  stroke: gulf-blue;
                }
              }
            }

            &:hover {
              .learn-more {
                display: inline-block;
                opacity: 1;
                transform: translate3d(0px, 0px, 0px);

                .arrow-svg {
                  transform: rotate(-90deg) scale(0.75,0.75) translate3d(-11px, 1px, 0px);
                }
              }
            }
          }
        }
      }


    }
  }

}
