// Intro Block

.list-header {

  display flex
  align-items center
  justify-content center
  position relative
  background white-lila
  margin 0
  height 100vh
  overflow: hidden;

  h2 {
    // width 400px
    width: 700px;
    color white
    line-height 120%
    // fontsize-50()
    fontsize-90()
  }

  p {
    text-align center
    fontsize-24-strong()
    padding-top 15px
    color white
  }
}
