// Intro Block
.intro {
  .intro-content {
    top: 0px !important;
  }

  p {
    //padding-top: 0px;
    top 0
  }
  //
  // h2 {
  //   // fontsize-90()
  // }
  //
  // .arrow {
  //   bottom: 50px;
  // }
  //
  // @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  //   .arrow {
  //     bottom 80px
  //   }
  // }
}
