.article-body-container {

    padding 0px 25px

    .content-wrapper {
      
      //top: -70px;
      &.has-thumbnail {
        top: -100px;
      }

      .text-container {
        padding-top 40px
        
        .social_shares {
          width 200px
          display none
        }
        
        .social_shares-mobile {
          display block
          ul {
            margin 0px
            li {
              list-style none
              a {
                color gulf-blue
              }
            }
          }
        }

        h1, h2, h3 {
          max-width 100%
          a {
            fontsize-24-strong()
          }
        }

        h2 {
          // fontsize-24-strong()
          fontsize-26-strong()
          max-width 100%
          // padding-bottom 30px
          padding-top 10%
        }
        
        h3 {
          // fontsize-20-strong()
        }

        p {
          fontsize-18-medium()
          padding-top 20px
          max-width 100%
        }

        a {
          // fontsize-18()
              ont-family: 'kievit-slab-pro-book';
              font-size 1.8rem
              line-height 2.3rem
        }

        strong {
          fontsize-18-strong()
        }

        blockquote {
          p {
            fontsize-28()
          }
          .blockquote_share {
            border-left 0px
          }
        }
        
        ol, ul {
          margin-left 10%
        }
        
      } //.text-container
      
    } //.content-wrapper 
      
} //.article-body-container
