.video-container {
  height 80%
  top -10px

  .poster {

    img {
      height 80%
      top 10%
      position relative
    }
  }

  .overlay-content {

    position absolute
    width 100%
    text-align center
    left 50%
    top 50%
    transform: translate(-50%, -50%)
    color white
    z-index 3

    h3 {
      fontsize-70()
    }

    p {
      fontsize-18()
    }

    span {
      fontsize-14()
      strong {
        fontsize-14-strong()
      }
    }


  }

}
