.video-container {

  height 338px
  width 600px
  display block
  position relative
  margin 0px auto
  //overflow hidden

  .poster {
    display block
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    width auto
    height 100%
    z-index: 2
    overflow hidden

    img {
      display block
      height 100%
      width auto
    }
  }

  .overlay-content {

    position absolute
    width 100%
    text-align center
    left 50%
    top 50%
    transform: translate(-50%, -50%)
    color white
    z-index 3

    h3 {
      fontsize-35()
      max-width 80%
      display block
      margin 0px auto
      font-family sharp-bold
      overflow hidden
      text-overflow ellipsis
      position relative
      top 40px
    }

    p {
      padding 30px 0 0 0
      margin 0px auto
      fontsize-20()
      max-width 70%
    }

    span {
      fontsize-14()
      margin-top 5px
      display block
      strong {
        fontsize-14-strong()
      }
    }

    .btn-overlay-play {
      background none
      border none
      outline none
      width 35px
      height 35px
      display block
      position absolute
      left 50%
      transform translateX(-50%)
      bottom 10px
      cursor pointer

      svg {
        transition 0.1s transform ease-out
      }

      svg > path {
        fill zocdoc-yellow
      }

      &:hover {

        svg {
          transform scale(1.1)
        }
      }

    }
  }

  .yt-player {
    z-index 1
  }

  .custom-video-controls-container {

    position: absolute;
    bottom: -50px;
    width: 90%;
    height: 20px;
    z-index: 60;
    left: 0;
    right: 0;
    margin: 0px auto;
    display block

    .title {
      position: absolute;
      left: 0;
      bottom: 15px;
      color: white;
      opacity 0.8
      span {
        font-family sharp-bold
        font-size 1.6rem
      }
    }

    .timer {
      position: absolute;
      right: 0;
      bottom: 15px;
      color: white;
      opacity 0.8
      span {
        font-family sharp-bold
        font-size 1.2rem
      }
    }

    .timeline {

      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      bottom: 0;
      height: 3px;
      left: 0;
      right: 0;
      width 100%
      cursor: pointer;
      //transition: transform 300ms cubic-ease-out, opacity 300ms cubic-ease-out;
      //transform: translate3d(0, 5px, 0);
      z-index: 3;
      overflow: hidden;
      backface-visibility: hidden;

      // &:hover {
      // 	transform: translate3d(0, 0px, 0);
      // }

      &.hide {
        //display: none;
        opacity: 0;
      }

      .current-time {
        transition: transform 0.3 ease-out;
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        transform: translate3d(0, 0, 0);
        background-color: zocdoc-yellow;
      }

    }

    .control-btn {
      position: absolute;
      z-index: 2;
      border: none;
      outline: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }

    .btn-play {
      left: -30px;
      bottom: -6px;
      opacity: 0;
      transition: opacity 0.3 ease-out;
      &:before {
        content "\025BA"
        display: block;
        font-size: 1.2rem;
        color: white;
      }
      &.active {
        opacity 1
        z-index: 5;
      }
    }

    .btn-pause {
      left: -30px;
      bottom: -5px;
      opacity: 0;
      transition: opacity 0.3 ease-out;
      span {
        background-color: white;
        width 2px
        height 10px;
        display: inline-block;
        &:first-of-type {
          margin-right 5px
        }
      }
      &.active {
        z-index: 5;
        opacity 1
      }
    }

    .btn-fullscreen {
      right: -30px;
      bottom: -10px;
      transform: rotate(-45deg);
      &:before {
        content "\02194"
        display: block;
        font-size: 2rem;
        color: white;
      }
    }

  }

}
