/*==========  Variables  ==========*/
@import "default/_variables";

/*==========  Global  ==========*/
@import "default/_global";

/*==========  Components  ==========*/

@import "default/components/_header";
@import "default/components/_footer";
@import "default/components/_carousel";

/*==========  Pages  ==========*/

@import "default/pages/careers/intro/_careers";
@import "default/pages/careers/list/_careers-list";
@import "default/pages/careers/detail/_job-detail";
@import "default/pages/healthSystems/_healthSystems";
@import "default/pages/blog/home/_blog-home";
@import "default/pages/blog/topic/_blog-topic";
@import "default/pages/blog/article/_blog-article";
@import "default/pages/blog/search/_blog-search";
@import "default/pages/legacy/_legacy";
