#careers {

/*==========  Parts  ==========*/
@import "parts/_intro";
@import "parts/_story";
// @import "parts/_values";
// @import "parts/_patients";
@import "parts/_culture";
// @import "parts/_perks";
// @import "parts/_joinus";

/*==========  Components  ==========*/
// @import "../components/_videoPlayer";

}
