.grid {

  margin: 0px auto 25px auto;

  .post {

    padding-right 40px
    margin-bottom 40px
    transform translate3d(0, 0, 0)
    opacity 1
    transition 0.25s all ease-in-out
    opacity: 1;
    height: auto;
    overflow: hidden;

    &.hidden {
      height 0
      opacity 0
      transform translate3d(0, 15px, 0)
    }

    //a {
    a {
        text-decoration none
        outline none
    }


      .post-header {

        text-align center
        display block
        width 100%
        height auto
        padding-top 50%

      }

      .text-wrapper {
        background-color white
        padding 50px
        height 300px
        text-align center
        position relative

        .title {
          transition 0.2s color linear
          fontsize-24-strong()
          color gulf-blue

          &[data-color-category='partnership'] {
            &:hover {
              color #39E4AD
            }
          }
          &[data-color-category='company'] {
            &:hover {
              color #44D8FB
            }
          }
          &[data-color-category='patients'] {
            &:hover {
              color #FCB5C9
            }
          }
          &[data-color-category='provider'] {
            &:hover {
              color #F96573
            }
          }
          &[data-color-category='tech'] {
            &:hover {
              color #C191FF
            }
          }
          &[data-color-category='default'] {
            &:hover {
              color #FCB5C9
            }
          }
        }

        .info {
          position absolute
          bottom 20px
          left 0
          width 100%
          text-align center

          span {
            display block
          }
        }
      }
    //}
  }
}
