// Series Block

.clients {
  
  button {
  
  }

  .intro-content {
  
  }

  h2 {
    // fontsize-50()
  
  }

  h3 {
    // fontsize-24()
  
  }

  
  .quote-block {

    .quote {
      // fontsize-20()
      
      span {
        // fontsize-20()
      }
    }

    .author {
      // fontsize-14-strong()
    }
    .work {
      // fontsize-14()
    }
  }

  .clients-logos-block {
    h3 {
      
    }
  }

  .block {
    
    h3 {
      // fontsize-18-strong()
    }
  }
}
