.stars {

  h4 {
    // fontsize-130()

    span {
      // fontsize-70()
    }
  }

  h3 {
    // fontsize-35()
  }

  .text {
    // fontsize-20-strong()
  }

  .reviews.row.center {

    h4 {
      // fontsize-130()

      span {
        // fontsize-130()
      }
    }

    h3 {
      // fontsize-35()
    }

    .text {
      // fontsize-20-strong()
    }
  }

}
