.loyalty {
  

  .content {
  
    .text{
      // fontsize-20-strong()
    }

    .heart {
      
      span {
        // fontsize-130()
      
        .perc{
          // fontsize-35()
        }
      }
    }
  }

  h2 {
    // fontsize-50()
  }

  h3 {
    // fontsize-35()
  }

  .text {
    // fontsize-20-strong()
  }
}
