.smart {

  .block-column {

  }

  .bg-image {

  }

  .content {

    .text {
      // fontsize-20-strong()
    }
  }

  h3 {
    // fontsize-400()
    
    .perc {
      // fontsize-55()
    }
  }

  h2 {
    // fontsize-50()
  }

  .text {
    // fontsize-20-strong()
  }
}
