/*@import url(http://pardot.zocdoc.com/l/45052/2015-04-27/qvsz1/45052/64350/pardot.min.css);*/

/*prevent jquery from flashing*/

  #container {display:none;}
  .nojs #container { display: block;}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main style */

body{
  background:#ecf0f1;
  font-family: Arial, sans-serif;
  min-width:0;
}

.page-container{
	width:100%;
	padding-top:75px;
}

.container{
	width:100%;
	height:auto;
  overflow:hidden;
}


@media( max-width: 760px){
	.page-container{
		padding-top:175px;
	}
}

/* text style */

h1{
	font-size: 64px;
	font-weight:700;
    line-height: 60px;
    color: #4c4c4c;
    padding-top: 6px;
    padding-bottom: 24px;
    margin-left: -3px;
}

h2{
	font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 18px;
    line-height: 24px;
    padding-top: 12px;
    padding-bottom: 6px;
}

/* nav bar */
.nav-bar{
  position:fixed;
  height:75px;
  padding-top:20px;
  width:100%;
  background:#fff;
  z-index:2;
}

.nav-content{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin:0 auto;
  width:95%;
  padding-bottom:5px;
  height:100%;
  max-width: 1027px;
}

.nav-logo{
  position: relative;
  height: 75px;
  margin-top: -13px;
}

.nav-logo img{
	width:auto;
	height:100%;
}

.nav-links{
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style:none;
}

.nav-button{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav-btn{
	height:40px;
}

.nav-links ul{
	float:left;
	list-style:none;
	display:inherit;
	line-height: 40px;
  	white-space: nowrap;
}
.nav-links li{
  	padding-right:25px;
}
/*
@media(min-width:376px){
	.nav-logo img{
		margin-top:4px;
		height:25px;
	}
}
*/

.nav-logo-order{
        -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}
.nav-btn-order{
        -webkit-box-ordinal-group:3;
  -webkit-order:3;
      -ms-flex-order:3;
          order:3;
}
.nav-links-order{
        -webkit-box-ordinal-group:2;
  -webkit-order:2;
      -ms-flex-order:2;
          order:2;
}


@media(max-width:668px){
	.nav-logo-order{
        -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}
.nav-btn-order{
        -webkit-box-ordinal-group:2;
  -webkit-order:2;
      -ms-flex-order:2;
          order:2;
}
.nav-links-order{
        -webkit-box-ordinal-group:3;
  -webkit-order:3;
      -ms-flex-order:3;
          order:3;
}

  .nav-btn {
    height: 30px;
    margin-top: 3px;
    font-size: 90%;
    padding-top: 3px;
  }

  .nav-links{
    width:100%;
    -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  }
  .nav-bar{
		height:60px;
		/* position:absolute; */
	}
  .nav-logo{
    height:60px;
    margin-top:-16px;
  }
	.nav-content {
		width:90%;
  -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
  /*-webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center; */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
	}

}
@media(max-width:440px){
  .nav-logo{
  height: 40px;
  margin-top: -6px;
}
}
@media(max-width:320px){
  .nav-logo{
  height: 30px;
  margin-top: 1px;
}
}

/* header module */

.head-bg{
	background:url(http://pardot.zocdoc.com/l/45052/2015-08-12/41zh37/45052/81024/shutterstock_196590461.jpg)no-repeat center center;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#B0E9DB;
  height:auto;
  padding-bottom:200px;

}

.head-text-box{
	width:80%;
	max-width:850px;
	padding-top:250px;
	text-align:center;
	margin:0 auto;
  /*  text-shadow: 0 1px 0 rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */
}


.hed{
	color:#fff;
	font-weight:700;
}

.hed-btn{
	margin-top:25px;
}

@media(max-width:760px){
	.head-bg{
		padding-bottom:150px;
	}

	.head-text-box{
		padding-top: 275px;
		width:70%;
	}
	/* .head-text-box h1{
		font-size:30px;
		line-height:42px;
		padding-bottom:0;
	}
	.head-text-box h2{
		font-size:15px;
		line-height:24px;
	} */
}

@media(min-width:1170px){
	.head-text-box{
		padding-top:275px;
	}
}

i {
  text-rendering: optimizeLegibility !important;
}

/*video*/
.video-stop {
    height: 75px;
    margin-top: -150px;
    position: relative;
}
.video-stop-2 {
    height: 75px;
    position: relative;
    /* margin-bottom: -75px; */
}
.vid-bg{
	background:#000;
	height:auto;
}

.videoWrapper {
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoOverlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.67);
    color: white;
    text-align: center;
    z-index: 1;
    max-width: none;
}
.overlay-content{
	padding-top:20%;
}

@media(min-width:975px){
	.overlay-content{
		padding-top:25%;
		margin-bottom:0;
	}
}


@media(max-width:760px){
	.overlay-content{
		padding-top:15%;
		margin-bottom:0;
	}
}

@media(max-width:560px){
	.overlay-content img{
		width:82px;
		height:82px;
	}
}

@media(max-width:450px){
	.overlay-content img{
		width:40px;
		height:40px;
	}
  h1.hed{
    font-size:54px;
    line-height:50px;
  }
}
@media(max-width:400px){

  h1.hed{
    font-size:44px;
    line-height:40px;
  }
}

/* text with photo content */

.color-overlay{
  background-color:rgba(204, 204, 204, 0.9);
  z-index:1;
}

.content-bg{
	background:#f5f5f5;
	height:auto;
  min-height:510px;
  overflow:hidden;
  /* background:url(http://pardot.zocdoc.com/l/45052/2015-08-04/3wd4lm/45052/80602/placeit_highres_grey.jpg)no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}

.content-text{
	height:auto;
}

.content-box{
    margin:0 auto;
    position:relative;
    width:98%;
    max-width:1034px;
    padding-top:75px;
    padding-bottom:50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
          flex-wrap:wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content-alt{
	background:url(http://pardot.zocdoc.com/l/45052/2015-08-04/3wpvtm/45052/80624/upload.jpg)no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-box {

    width:360px;
    margin-bottom:35px;
    height:auto;
      -webkit-box-ordinal-group:2;
  -webkit-order:2;
      -ms-flex-order:2;
          order:2;
          color:#4c4c4c;
}
.text-box p {
    font-size: 18px;
    line-height: 24px;
    color: #4c4c4c;
    padding-bottom: 24px;
}
.right-align{
	  -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}

.photo-module{
	font-size:30px;
	padding-bottom:7px;
	line-height:42px;
}

.photo-box {

    width:450px;
    margin-bottom:35px;
    /* background:#fff; */
    height:auto;
    overflow:hidden;
      -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}

.photo-box-UI{
    margin-bottom:35px;
    margin-left:-10%;
    margin-top:-30px;
    margin-bottom:-700px;
    max-width:720px;
    /* background:#fff; */
    height:auto;
    overflow:hidden;
      -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}
.photo-box-UI img {
    max-width: 720px;
    height: auto;
}

.left-align{
	  -webkit-box-ordinal-group:2;
  -webkit-order:2;
      -ms-flex-order:2;
          order:2;
}

.photo-box img{
	width:100%;
	height:auto;
}

.right{}
.right img{
  position:absolute;
  top:-15%;
}

.left{}
.left img{
  position:absolute;
  top:-15%;
  left:-30%;
}

@media(max-width:530px){
  .photo-box{
    height:auto;
  }
}

@media(max-width:915px){

.content-bg{
  /* background:url(http://pardot.zocdoc.com/l/45052/2015-08-04/3wd4lp/45052/80600/placeit_highres_2.jpg)no-repeat center center;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.content-alt{
  background-position-x:40%;
}

	.right{}
.right img{
  position:inherit;
  top:0;
}

.photo-box img{
  width:100%;
  height:auto;
}
.photo-box-UI img{
  width:100%;
  height:auto;
}

.left{}
.left img{
  position:inherit;
  top:0;
  left:0;
}
  .text-box {
		margin:0 auto;
		margin-bottom:35px;
    text-align:center;
	}
	.photo-box {
		margin:0 auto;
		margin-bottom:35px;
	}
  .photo-box-UI {
    margin:0 auto !important;
    margin-bottom:35px;
    height:300px;
  }
	.right-align{
		  -webkit-box-ordinal-group:2;
  -webkit-order:2;
      -ms-flex-order:2;
          order:2;
	}
	.left-align{
	      -webkit-box-ordinal-group:1;
  -webkit-order:1;
      -ms-flex-order:1;
          order:1;
}
	}

@media(max-width:1070px){
  .photo-box-UI{
    margin-left:-35%;
  }
}

/* search module */
h3.sg-mkt.sg-h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 10px;
}
.profile-demo {
    background-color: #EBF4F6;
    background-image: url("http://storage.pardot.com/45052/72492/Tour_Profile_Screenshots_v2_Search_and_Profile.png");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
}
.funnelcake-spritesheet {
    background-image: url('http://storage.pardot.com/45052/72836/retina_funnelcake_spritesheet.png');
    vertical-align: middle;
    margin-right: 10px;
    margin: -5px 10px 0 0;
    background-size: 1120px 508px;
}
.profile-demo .sg-small {
    height: auto;
}

.profile-demo .graphic {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 48px;
    display: inline-block;
}

.profile-demo-wrapper {
    height: 1302px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}

.search-wrapper {
    width: 100%;
    height: 630px;
}

.search-content-main {
    position: absolute;
    width: 100%;
    margin-top: 72px;
    text-align: center;
}

.sg-h1.sg-mkt.search-title {
    color: #00AAC6;
}

.claim-yours-now-btn {
    margin-top: 12px;
}

.search-content-description {
    text-align: left;
    position: absolute;
    width: 300px;
    top: 288px;
    left:60%;
}

.margin-between-description {
    height: 30px;
}

.profile-wrapper {
    position: absolute;
    width: 100%;
    height: 630px;
}

.profile-content-description {
    position: absolute;
    text-align: right;
    width: 300px;
    top: 72px;
    right:60%;
}

@media screen and (max-width: 1000px) {
    .search-content-description{
      width:80%;
      margin:0 auto;
      left:0;
    }
    .profile-content-description {
    position: absolute;
    text-align: right;
    width: 300px;
    top: 72px;
    margin:0 auto;
    right:0;
}
    .profile-demo-wrapper {
        height: auto;
    }

    .search-content-main, .search-content-description, .profile-content-description {
        text-align: center;
        position: relative;
        top: auto;
        margin-top: auto;
    }

    .profile-demo-wrapper, .search-wrapper, .profile-wrapper {
        position: relative;
        height: auto;
        width: auto;
    }
    .search-wrapper, .profile-wrapper {
        padding-top: 60px;
    }

    .profile-demo {
        background: none;
        background-color: #EBF4F6;
        padding: 0 0 72px 0;
    }

    .margin-between-description {
        height: 0;
    }
}
.row{
  overflow:hidden !important;
}

/* quotes static */
.quote-inner{
  text-align:center;
  color:#fff;
  padding-top:80px;
  padding-bottom:80px;
  max-width:950px;
  margin:0 auto;
}

/* quotes */

.quote-bg{
    width:100%;
    background:#4780b8;
    margin:0 auto;
    height:auto;
    overflow:hidden;
}

.media-quotes{
	background:#f4d452;
}
.carousel-container{
    margin:0 auto;
    max-width:1270px;
    min-height:230px;
}

.carousel-quote{
    width:100%;
    color:#fff;

}

.carousel-quote-b{
    width:100%;
    color:#4c4c4c;

}


.carousel-inner>.item.active.left, .carousel-inner>.item.prev {
    padding-left: 5px;
    padding-right: 5px;

}

.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    padding-right: 5px;
    padding-left: 5px;
}

.white-arrow{
	color:#fff;
}
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  padding-left:110px;
  padding-right:110px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
  padding-left: 10px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: 0 !important;
}

.carousel-indicators{
	z-index:0;
}
.carousel-indicators li{
  border:none;
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #fff;
}

#quote-carousel img
{
  width: 250px;
  height: 100px
}

/* carousel b */

.color-swap{
	color:#4c4c4c;
}

#quote-carousel-b
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  padding-left:110px;
  padding-right:110px;
}

/* Control buttons  */
#quote-carousel-b .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
  padding-left: 10px;
}
/* Previous button  */
#quote-carousel-b .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel-b .carousel-control.right
{
  right: 0 !important;
}
/* Changes the position of the indicators */
#quote-carousel-b .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel-b .carousel-indicators li
{
  background: #bfa74f;
}
#quote-carousel-b .carousel-indicators .active
{
  background: #4b462c;
}
#quote-carousel-b img
{
  width: 250px;
  height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.carousel-inner{
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	padding-bottom:50px;
}
.carousel-inner>.item{
      -webkit-transition: -webkit-transform 1.25s ease-in-out;
    -o-transition: -o-transform 1.25s ease-in-out;
    transition: transform 1.25s ease-in-out;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;

    }
	.carousel-container h2{
		font-size:30px;
		line-height:42px;
	}
	/*.carousel-container{
    min-height:310px;
	}*/
	.quote-bg{
    padding-top:30px;
    padding-bottom:30px;
	}
	/*.carousel-container{
		padding-top:50px;
	}*/
}

@media (max-width:400px){

  /*.carousel-container{
    padding-top:20px;
  }*/
  .carousel-container h2{
    font-size:14px;
    line-height:18px;
  }

  .carousel-quote small{
    font-size:14px !important;
  }
  .carousel-inner>.item.active.left, .carousel-inner>.item.prev {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    padding-right: 10px;
    padding-left: 10px;
  }
  .carousel-inner{
    max-width:70%;
    margin:0 auto;
  }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
   .carousel-quote h2{
      font-size:24px;
     line-height:30px;
    }
  #quote-carousel .carousel-indicators{
    bottom: 10px !important;
  }
  /*.carousel-container{
    padding-top:50px;
  }*/
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        /* width: 15px;
        height: 15px; */
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        /* width: 20px;
        height: 20px; */
    }
    #quote-carousel
    {
      margin-bottom: 0;
      padding-left:10px;
      padding-right:10px;

    }
    #quote-carousel-b .carousel-indicators {
        bottom: 10px !important;
    }
    #quote-carousel-b .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        /* width: 15px;
        height: 15px; */
    }
    #quote-carousel-b .carousel-indicators li.active {
        margin: 0px 5px;
        /* width: 20px;
        height: 20px; */
    }
    #quote-carousel-b
    {
      margin-bottom: 20px;
      padding-left:10px;
      padding-right:10px;

    }
    .carousel-control i.fa {
      font-size:50%;
    }
    .carousel-inner{
      max-width:80%;
      margin:0 auto;
    }

}

/* bullet points */
.bullet-point-bg{
    width:100%;
    height:auto;
    margin: 0 auto;
    background:#f5f5f5;
    text-align:center;
    padding-top:50px;
    padding-bottom:100px;
}

.bullet-headline{
    position:relative;
    margin:0 auto;
    text-align:center;
    max-width:1075px;
    padding:50px 20px 50px 20px;
}

.bullet-points-inner{
    margin:0 auto;
    position:relative;
    height:auto;
    padding:0 20px 30px 20px;
    max-width:1075px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
            flex-wrap:wrap;
}

.bullet-point{
    width:200px;
    height:auto;
   /*  margin-bottom:25px;
    margin-left:5px;
    margin-right:5px; */
    padding-bottom:20px;
}

.bullet-point img{
  width:auto;
  height:100px;
}

@media(max-width:895px){
	.bullet-point{
		margin:10px auto;
	}

}


/* secondary nav */

.extra-links-bg{
    width:100%;
    height:auto;
    background-color:#fff;
}
.extra-links-headline{
    position:relative;
    margin:0 auto;
    text-align:center;
    max-width:1075px;
    padding:50px 20px 20px 20px;
}

.extra-links-headline h2{
  font-size:30px;
  line-height:42px;
}

.extra-links-inner{
    margin:0 auto;
    max-width:1075px;
    position: relative;
    height:auto;
    padding-bottom:50px;
        display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
            flex-wrap:wrap;
}

.extra-links{
    width:200px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    padding:5px;
}
.extra-links-icon{
    float:left;
    width:auto;
}
.extra-links-text{
    float:right;
    width:150px;
    margin-top:-15px;
    padding-left:10px;
    font-weight:400;
}

img.extra-links-icon {
    max-width: 40px;
    min-width: 30px;
    height: auto;
}
/* call to action */
.cta-bg{
    width:100%;
    background:#00aac6;
    height:auto;
}
.cta-inner{
    padding: 100px 20px;
    max-width:1075px;
    margin:0 auto;
    text-align:center;
}

.call-to-action{
	font-size:30px;
	line-height:42px;
	color:#fff;
}
@media(max-width:414px){
  .call-to-action{
    font-size:18px;
    line-height:24px;
    margin:0 auto;
    width:80%;
  }
  a.nav-btn.btn.btn-large.btn-search.btn-nav {
    padding-top: 4px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left:25px;
  }
}

/* contact */

.contact-text a {
    color: #fff;
}
.contact-text h2{
  font-size:24px;
  font-weight:400;
  line-height:30px;
}
.contact-text img {
    height: 80%;
    width: auto;
    padding-top: 15px;
    padding-right: 8px;
}
i.fa {
  margin-top:14px;
  margin-right:10px;
  font-size:1.33333333em;
}


.contact-bg{
    width:100%;
    background:#1a667a;
    height:auto;
}

.contact-inner{
    padding: 70px 20px;
    max-width:1075px;
    margin:0 auto;
    color:white;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
     text-align:center;
     padding:20px;
}

.contact-text{

    font-size:18px;
    font-weight:700;
    line-height:24px;
    /* margin:0 auto; */
    /* width:200px; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display:inherit;
    padding:15px;
}

@media(max-width:768px){
  .contact-text{
    margin:0 auto;
  }
	.contact-inner{
		-webkit-box-pack:center;
		-webkit-justify-content:center;
		-ms-flex-pack:center;
		justify-content:center
	}
	.contact-arrange{
		width:100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	}
}
@media(max-width:375px){
  .contact-text h2 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 15px;
  }
  .contact-text{
    padding:5px;
  }
}

/* .single-line{
    padding-top:10px;
} */

/* footer */
.tiny-text {
    display: inline-block;
    position: absolute;
    float: left;
    margin-left: -305px;
    margin-top: 50px;
    font-size: 8px;
}
.footer-bg{
    width:100%;
    background:#4c4c4c;
    height:auto;
    color:#fff;
}
.footer-inner{
    max-width:1075px;
    margin:0 auto;
    padding: 30px 30px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    font-size:15px;
    line-height:24px;
}
.footer-content{
    width:305px;
}

.footer-content p{
  font-family: arial, helvetica, sans-serif;
  float:right;
  width:250px;
  padding-top:11px;
}
.footer-content a {
    text-decoration: none;
    color: #fff;
}
@media(max-width:685px){
  .tiny-text {
    margin-left: -250px;
    margin-top: 40px;
    font-size: 8px;
}
}
/* pop-up */
.cd-popup-trigger{
}
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index:9999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 3em auto;
  overflow-y:auto;
  height:90%;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  max-height:776px;
  /* text-align: center; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 3em auto;
  }
}


/* form */

.form {
	padding:8px;
}

.form p label{
	font-size:14px !important;
	padding-top:6px !important;
	font-family: Arial, sans-serif !important;
	padding-top: 4px !important;
	padding-bottom: 8px !important;

}

.form input{
	width:100% !important;
	border:1px solid #ccc !important;
	height: 36px !important;
	margin-bottom: 6px !important;
	line-height: 18px !important;
	border-radius: 5px !important;
    padding: 4px 15px 4px 10px !important;
}

.form-field .select{
	width:100% !important;
	height:36px !important;
}

.input[type="submit"]{
    font-family: arial,sans-serif !important;
    padding-top: 4px !important;
    height: 48px !important;
    background-color: #ec690a !important;
    width: 100% !important;
    color: #fff !important;
    font-size: 120% !important;
    font-weight: 700 !important;
    margin-left: 2px !important;
}

.form h1{
	font-size:24px !important;
	line-height: 30px;
	margin-left:5px;
}

.form p {
	line-height:24px;
	font-size:15px;
  line-height: 24px;
  padding-bottom: 23px;
  padding-top: 1px;
}

.form h1{
    font-size: 24px !important;
    line-height: 30px !important;
    font-weight: 700 !important;
    margin-left: 5px;
    font-family: arial, sans-serif;
    padding-bottom:11px;
  }

.form p .submit{
	font-size:18px;
}

.form p.submit input{
    font-family: arial,sans-serif !important;
    padding-top: 4px !important;
    height: 48px !important;
    background-color: #ec690a !important;
    width: 100% !important;
    color: #fff !important;
    font-weight: 700 !important;
    margin-left: 2px !important;
}

.form p.no-label{
  margin: -6px 0 0 7px !important;
}

.red-color, form.form p.error, form.form span.error, form.form div.error, form.form p.error label {
    color: #FF0000 !important;
}