/*==========  Variables  ==========*/

@import "1280/_variables";

/*==========  Components  ==========*/

@import "1280/components/_header";
// @import "1280/components/_footer";

/*==========  Pages  ==========*/

@import "1280/pages/careers/intro/_careers";
@import "1280/pages/healthSystems/_healthSystems";
@import "1280/pages/careers/list/_careers-list";
@import "1280/pages/careers/detail/_job-detail";
// @import "1280/pages/blog/home/_blog-home";
@import "1280/pages/blog/topic/_blog-topic";
@import "1280/pages/blog/article/_blog-article";
// @import "1280/pages/blog/search/_blog-search";
