@charset "UTF-8";


/* Grid */

.grid {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}


/* Cols */

.grid .col {
    position:relative;
    flex:1 0 auto;
    align-self:stretch;
    padding:40px;
}

.grid .center {
    align-self:center;
}

.col_1 {
        width:25%;
    max-width:25%;
}
.col_2 {
        width:50%;
    max-width:50%;
}
.col_3 {
        width:75%;
    max-width:75%;
}
.col_4 {
        width:100%;
    max-width:100%;
}


/* Cells */

.grid .cells  {
    display:flex;
    flex-direction:column;
    padding:0 !important;
}

.grid .cell {
    flex:1 0 auto;
    align-self:stretch;   
    padding:40px;
}


/* Border */

.grid_border {
    border:1px solid rgba(255,255,255,0.5);
}

.grid_border.right {
    border:none;
    border-right:1px solid rgba(255,255,255,0.5);
}

.grid_border.bottom {
    border:none;
    border-bottom:1px solid rgba(255,255,255,0.5);
}

.bg_white .grid_border {border-color:rgba(90,106,255,0.2);}
.bg_blue  .grid_border {border-color:rgba(255,255,255,0.5);}



/* Responsive */


@media only screen and (max-width : 1023px) {

    
    /* Cols */

    .grid .col,
    .grid .cell {padding:40px 30px;}

    .col_1,
    .col_2,
    .col_3 {
            width:100%;
        max-width:100%;
    }


}


@media only screen and (max-width : 747px) {

    
    /* Cols */

    .grid .col,
    .grid .cell {padding:40px 20px;}


}