.blog-post-container {

  background-color white-lila
  min-height 100vh
  padding 0px 50px

  .content-wrapper {

    margin 0px auto
    // max-width 1280px
    padding-top 110px

    @import "./parts/_grid";

    // .switch-view-container {
    //
    //   margin: 0 0 60px 0;
    //
    //   button {
    //     background none
    //     outline none
    //     border none
    //     fontsize-14-strong()
    //     color gulf-blue
    //     margin-right 20px
    //     cursor pointer
    //     &:hover {
    //       color pink-rose
    //     }
    //   }
    // }

    // .most-popular{
    //
    //   margin: 0 0 90px 0;
    //   padding 0 40px 40px 40px
    //
    //   h2 {
    //     fontsize-24-strong()
    //     color gulf-blue
    //   }
    //
    //   .article-list, .wpp-list {
    //     margin 50px auto 0px auto
    //
    //     .article {
    //
    //       margin-bottom 50px
    //       display block
    //       position relative
    //
    //       &:last-of-type {
    //         margin-bottom 0
    //       }
    //
    //       a {
    //
    //         text-decoration none
    //
    //         .title {
    //           fontsize-18-strong()
    //           color gulf-blue
    //           text-decoration none
    //           margin-bottom 10px
    //           max-width 70%
    //           transition 0.2s color linear
    //         }
    //
    //         .description {
    //           max-width 70%
    //           fontsize-14-medium()
    //           color dark-grey
    //         }
    //
    //         .number {
    //           background-color zocdoc-yellow
    //           width 30px
    //           height 30px
    //           border-radius 100%
    //           display block
    //           text-align center
    //           fontsize-14-strong()
    //           position absolute
    //           left 0
    //           top 0
    //           color gulf-blue
    //           line-height 30px
    //         }
    //
    //         .title, .description, .info {
    //           padding-left 50px
    //           max-width 100%
    //         }
    //
    //         &:hover {
    //           .title {
    //             color pink-rose
    //           }
    //         }
    //
    //       }
    //     }
    //   }

    //}
  }

}
