.full-bleed-header {

  width 100%
  overflow: hidden;
  background-color pink-rose

  .full-bleed-container {
    height 600px
    padding-left 11%
    overflow hidden
    margin 0px auto
    position relative

    .canvas-container {
      height 100%
      width 100%
      top 0
      left 0
      position absolute

      .canvas {
        height 100%
        width 100vw
        left 0
        bottom 0
        top 0
        right 0
        position absolute
        z-index 1
        pointer-events auto
      }
    }

    .content-container {
      z-index 1
      max-width 430px
      height 400px
      padding 150px 0 100px 50px
      border-radius 50px
      opacity 0
      top 0
      bottom 0
      margin auto
      position absolute
      
      .header-link {
        text-decoration none
        &:visited {
          color gulf-blue
        }
      }
    

      h1 {
        opacity 0
        visibility hidden
        fontsize-35()
        color gulf-blue
        position relative
        z-index 5
        max-width 300px
        transition 0.2s color linear
        &:hover {
          color #F96573
        }
      }

      .info {
        opacity 0
        visibility hidden
        position relative
        z-index 5
      }

      .read-more {
        position relative
        z-index 5
        opacity 0
        visibility hidden
        fontsize-14-strong()
        text-decoration none
        color gulf-blue
        display block
        margin-top 15px

        &:after {
          content: '\2192';
          position relative
          left 5px
          top 1px
          transition 0.2s all ease-out
        }

        &:hover {

          &:after {
            left 10px
          }

        }
      }
      &.active {
        z-index 2
        opacity 1

        h1, a, .info {
          opacity 1
          visibility visible
        }
      }
    }

    .full-bleed-image {
      position absolute
      background #c382ff
      width 100%
      height 100%
      top 0
      left 0
      right 0
      z-index 0
      transition 0.2s all ease-out
      opacity 0
      transform translateZ(0)
      backface-visibility hidden
      will-change transform

      &.active {
        opacity 1
        // transform scale(1)  translateZ(0)
      }
    }

  }

  .carousel-items-container {

    height 210px
    padding: 0px 50px;
    background-color white

    ul {

      max-width 1280px
      flex-grow: 1;
      margin: 0;
      padding: 0;

      li {
        cursor pointer
        display inline-block
        padding-right 20px
        text-align left
        position relative

        svg {
          height 100%
          width 100%
          position absolute
          top: 0
        }

        p {
          fontsize-18-strong()
          color gulf-blue
          max-width 330px
          transition 0.1s color linear
          display block
          text-decoration none
          padding-left 80px

          &:hover {
            color pink-rose
          }
        }

        .info {
          padding-left 80px
        }

        .image {
          width 70px
          height 70px
          border-radius 100%
          position absolute
          left 0
          top 0
        }

        .st0 {
          stroke-dashoffset 0
        }

        .round-mask {
          -webkit-backface-visibility hidden
          -webkit-transform translateZ(0) scale(1.0, 1.0)
          width 55px
          height 55px
          border-radius 100%
          overflow hidden
          position absolute
          left 0
          top 0
          right 0
          bottom 0
          margin auto

          img {
            float left
            height 60px
            width auto
            position relative
            left 50%
            top 50%
            transform translate(-50%, -50%)
          }
        }
      }
    }

  }

}
