.contact {
  .content {
    top 75px
    height 500px
  }

  .full-size-block {
    position relative
  }

  .full-size {
    min-height 120vh
  }

  h2 {
    fontsize-35()
    width 85%
    left 0
    right 0
    margin auto
    padding-top 0px
  }

  h3 {
    fontsize-18-strong()
    width 80%
    margin 15px auto
  }

  .images {
    width 210px
    display inline-block
    padding 20px 0
    margin auto

    .hidden {
      width 75px
      height 75px
      float left
      margin 15px
    }
  }

  button {
    top 0
  }

}
