.intro {

  h1 {
    line-height 120%
    fontsize-50()

    span {
      fontsize-50()
    }

    br {
      display none
    }
  }

  .title-blob, .search, .percentage {
    width 85%
  }

  .search {

    .search-module {
      width 95%

      p {
        padding 17.5px 0px 8px 45px
      }

    }

  }

  .scroll-cta {
    bottom 5%
    margin 0 auto
    left 0
    right 0
    position absolute

    .arrow {
      position absolute
      width 20px
      height 25px
      left 0
      right 0
      margin 0 auto
    }
  }
}
