.loyalty {
  display block
  background white-lila

  .block-column {
    width 50%
    display inline-block
  }

  .bg-image {
    position absolute
    right 0
    left 0
    margin auto
    height 40%
    bottom 0
  }

  .content {
    width 75%
    top initial
    bottom 43%
    left 0
    right 0
    position absolute
    margin auto

    .text {
      fontsize-14-strong()
    }

    .heart {
      position relative
      text-align center
      margin 20px auto 10px

      img {
        width 50%
      }

      span {
        left 0
        right 0
        top 0
        bottom 5px
        height 35px
        position absolute
        margin auto
        fontsize-50()
        line-height auto
        padding-bottom 0

        .perc {
          fontsize-35()
          top 0
          left 20%
          right 0
          padding-bottom 10px
          position absolute
        }
      }
    }
  }

  h2 {
    fontsize-24-strong()
    padding-top 35px
  }

  h3 {
    fontsize-18-strong()
  }
}
