.patient {

  h2 {
    fontsize-35()
    padding-bottom 68vh
    width 80%
    max-width 260px
    margin 0 auto

    br {
      display none
    }

    span {
      fontsize-35()
    }
  }

  .content-second {
    left 0
    right 0
    top -25%

  }

  .second {
    padding-bottom 0
    padding-top 90px
    width 80%
    left 0
    right 0
    bottom inherit
    top inherit
    height auto

  }

  .hs-btn-contact {
   margin-top 0
  }

  .icons {
    padding-bottom 50px
  }

  .client, .doctor {
    width auto
    height 32.5vh
    position fixed
    max-width 600px
  }

  .client {
    left 20px
    right inherit
    margin-right 0
  }

  .doctor {
    right 20px
    left inherit
    margin-left 0
  }

  .first-img, .second-img, .third-img {
    bottom 55vh
    width 16%
  }

  .second-img {
    bottom 47.5vh
  }

  .third-img {
    bottom 47.5vh
  }

  .second-img {
    left 14%
  }

  .third-img {
    right 14%
  }
}
