.smart {
  display block

  .block-column {
    width 50%
    display inline-block
  }

  .bg-image {
    position absolute
    left 0
    height 40%
    bottom 0
    right 0
    margin: auto
  }

  .content {
    width 100%
    top initial
    bottom 43%
    left 0
    right 0

    .text {
      margin-top 10px
      fontsize-14-strong()
    }
  }

  h3 {
    fontsize-400()
    padding-bottom 10px
    letter-spacing normal

    .perc {
      fontsize-35()
      right -140px
      left 0
      top -20px
    }
  }

  h2 {
    fontsize-35()
    padding 30px 0 10px
  }
}
