.start {

  h1 {
    line-height 120%
    fontsize-50()
    position relative
    top -25px

    span {
      fontsize-50()
    }
  }
  .intro-content {
    top 15px
    position relative
  }

  .scroll-cta {
    bottom 20px
    height 60px
    width 200px
    z-index 10

    p {
      font-size 2rem
    }
  }

  @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    .scroll-cta {
      bottom 80px
    }
  }
}
