.zocdoc {
  background gulf-blue
  background red
  width 100vw
  min-height 100vh

  h2 {
    fontsize-50()
  }

  h3 {
    fontsize-24()
    color white
  }

  .canvas {
    position relative
    width 650px
    height 100px
    margin 50px auto
  }

  button {
    position relative
    border none
    display block
    margin auto
    border-radius border-radius-default
    background zocdoc-yellow
    padding 12px 40px

    a {
      text-decoration none
      fontsize-24-strong()
      color gulf-blue
    }
  }
}
