/*==========  Browser reset  ==========*/
@import "_reset";
global-reset()

/*==========  Globals and Variables  ==========*/

@import "globals/_variables";
@import "globals/_z-indexes";
@import "globals/_fonts";
@import "globals/_global";

/*==========  Utils  ==========*/

@import "utils/_flex-grid";
@import "utils/_utils";

/*==========  Mixins  ==========*/

@import "mixins/_mixins";

/*==========  Media queries  ==========*/

@import "viewport/_default";

/* Generate the default grid == generateGrid($size, $min-colums, $max-columns, $gutters (10px)) */
generateGrid(lg, min-columns, max-columns, gutters);

/* 
 * Medium size screens, when text was designed TOO big we can scale it down here a touch. 
 * Designers will never notice... 
 */
@media only screen and (max-width: 1500px) and (min-width: 923px) {
	@import "viewport/_1280";
	// 10/17/16 Added initially for Careers-list page. ticket #151
	generateGrid(med, min-columns, max-columns, gutters);
}

/* 
 * Devices, Tablets/Mobile 
 */
@media only screen and (max-width: 922px) {

	@import "viewport/_922";

	/* Generate the small grid == generateGrid($size, $min-colums, $max-columns, $gutters (10px)) */
	generateGrid(sm, min-columns, max-columns, gutters);
}

/* 
 * iPhone 5 and small screen resolutions off 
 * 528px or 460px for iphone safari ui visible. 
 */
@media only screen and (max-width: 922px) and (max-device-height: 568px) {

	@import "viewport/_h530";

}

/* 
 * Desktop 16/9 ratio.
 * Smaller 13inch screens that have trouble with content exceeding the space.
 * i.e. fix for ticket #179
 */
@media only screen and (min-width: 922px) and (max-height: 730px) {
	
	@import "viewport/_h730";

}

/*
 * This is meant for Devices (Tablets) that have a min width of 760 and max width of 922. `
 * Medium Devices, Tablets Portrait Further Override
 * Landscape Vertical. different layouts for healthsystems market, career story sections.
 */
@media only screen and (min-device-width: 760px) and (max-device-width: 922px) {

	@import "viewport/_t760";

}
