#page-footer {

  position relative
  z-index 20
  text-align: left;

  .yellow-band {

    font-family: sharp-sans-medium;

    height: 100px;
    background-color: zocdoc-yellow;

    .wrapper {

      width: 1010px;
      height: 100%;
      margin: 0px auto;

      li {

        color: navy-blue;
        font-size: 2.4rem;
        font-weight: 200;

        a {
          color: navy-blue;
          text-decoration: none;
          font-size: 2.4rem;
          font-weight: 200;

          &:hover {
            text-decoration: underline;
          }
        }

        .icon-zface {
          width: 40px;
          height: 40px;
          display: block;

        }
      }
    }

  }

  .navy-blue-block {

    font-family: sharp-sans-medium;

    height: 561px;
    background-color: navy-blue;  
      

    .links-wrapper {

      width: 1010px;
      height: 390px;
      margin: 0px auto;
      padding-top: 54px;

      h3 {
        color: white;
        font-size: 1.6rem;
        line-height: 120%;
        padding-top: 13px;
        padding-bottom: 10px;
        margin: 0;
        font-family: sharp-sans-medium;
        max-width: 90%;
      }

      ul {

        li {

          padding-top: 4px;
          padding-bottom: 8px;
          max-width: 90%;

          a {

            font-size: 1.6rem;
            line-height: 120%;
            color: zocdoc-yellow;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

    }

    .madeinny-wrapper {

      width: 1010px;
      height: 80px;
      margin: 0px auto;

      .madeinny-logo {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0px auto;
      }

    }

    .legal-wrapper {

      width: 1010px;
      height: 91px;
      margin: 0px auto;
      padding: 24px 0;
      font-size: 1.6rem;
      line-height: 140%;
      color: white;

      a {
        font-size: 1.6rem;
        line-height: 140%;
        color: zocdoc-yellow;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .full-site-cta {
        display: none;
      }

      p {
        text-align: center;
        font-size: 1.6rem;

      }

    }

  }

}
