// Intro Block

.intro {

  h2 {
    width 85%
    margin auto
    fontsize-50()
    // fixed color to white 10/11/16
    //color: #fff;
  }

  p {
    width 75%
    margin auto
    fontsize-24-strong()
    padding-top 15px
    //color fog
    opacity 0
    position relative
    top 20px
  }

  .intro-content {
    top -50px!important
  }

  .canvas {
    z-index 10
  }
}
