// Values Block

.values {

  h2 {
    padding: 20vh 0 10vh 0;
  }

  .value-videos-wrapper {

    padding-top 50px

    .value-video {

      width 90%
      padding-bottom 150px
      display block
      float none

      &:nth-child(even) {
        margin 10px auto
      }

      &:nth-child(odd) {
        margin 10px auto
      }

      .video-container {
        z-index 1

        .poster {
          top 0
        }
      }
    }
  }
}
