#careers {

  @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    .arrow {
      bottom 80px
    }
  }

/*==========  Parts  ==========*/
@import "parts/_intro";
@import "parts/_story";
// @import "parts/_values";
// @import "parts/_patients";
@import "parts/_culture";
// @import "parts/_perks";
// @import "parts/_joinus";

/*==========  Components  ==========*/
// @import "../components/_videoPlayer";

}
